.primary-button {
  background-color: #2262ed !important;
  border-radius: 10px;
  font-weight: 600 !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  border: 1.5px solid #2262ed !important;
  min-height: 44px;
  font-weight: 500 !important;
  display: flex;
  justify-content: center;
  font-size: 16px !important;
  align-items: center;
  gap: 8px;
  shape-outside: margin-box;
  padding: 4px 16px 4px 16px !important;
  cursor: pointer;
  text-transform: none !important;
  box-shadow: none !important;
  width: 100% !important;
  margin-top: 60% !important;
      position: absolute !important;
    bottom: 0px;
}

.primary-button:disabled {
  opacity: 0.6;
   cursor: not-allowed;
}


// .ant-btn-primary {
//   border-radius: 20px;
// }
// .ant-btn-primary {

// }
