.glyph-btn {
  background: #2262ed;
  text-transform: none;
  color: #fff;
  border-color: #2262ed;
  width: 264px;
  height: 44px;
  font-family: "Inter";
  font-style: "normal";
  font-size: 16px;
  border-radius: 4px;
  border-style: "solid";
  cursor: "pointer";
  text-align: "center";
  padding-left: 16px;
  justify-content: "start";
}
.glyph-btn:hover {
  background: hsl(221, 85%, 45%) !important;
}
@media screen and (max-width: 430px) {
  .glyph-btn {
  }
}
